@font-face{
font-family: 'BanderaPro';
src: url('../fonts/BanderaProMedium.otf');
font-weight: normal;
font-style: normal;
}
@font-face{
font-family: 'BanderaPro';
src: url('../fonts/BanderaPro-Bold.otf');
font-weight: bold;
font-style: normal;
}
@font-face{
font-family: 'BanderaPro';
src: url('../fonts/BanderaProLight.otf');
font-weight: bolder;
font-style: normal;
}
@font-face{
font-family: 'BlissPro';
src: url('../fonts/BlissPro-Regular.otf');
font-weight: normal;
font-style: normal;
}
@font-face{
font-family: 'BlissPro';
src: url('../fonts/BlissPro-Bold.otf');
font-weight: bold;
font-style: normal;
}
@font-face{
font-family: 'BlissPro';
src: url('../fonts/BlissPro-ExtraLight.otf');
font-weight: bolder;
font-style: normal;
}
@font-face{
font-family: 'DaySansBlack';
src: url('../fonts/8230.ttf');
font-weight: normal;
font-style: normal;
}
.DaySansBlack{
  font-family: 'DaySansBlack';
}
* {
  margin: 0;
  padding: 0;
}
html, body{
  font-family:'BanderaPro';
  color: #1b435d;
  font-size: 20px;
  background-color: #fff;
  margin: 0;
}
.dropdown a{
  text-decoration: none;
}
.brand{

}
.brand:hover{
  text-decoration: none;
}
.form-control:focus {
  /*border-color: #6bb8ae;*/
  outline: 0;
  }
.navbar{
  min-height: 65px;
}
.navbar-default {
  background-color: #086972;
  border-color: #086972;
  border-radius: 0px;
  color: #fff;
}
.navbar-default .navbar-brand {
  color: #fff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
  color: #fff;
}
.navbar-default .navbar-nav>li>a{
  color: #fff;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
  color: #fff;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
  margin-left: 0px;
}
.nav>li>a{
  padding: 20px 15px 20px 0px;
  font-size: 22px;
}
.nav>li>a:hover, .nav>li>a:focus{
  background-color: #fff;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
  background-color: transparent;
  color: #fff;
}
.container-fluid {
  max-width: 1500px;
  color: #fff;
  margin-bottom: 50px;
}

.container{
  max-width: 1500px;
}
a{
  color: #fff;
}
.title{
  width: 15%;
}
.title b{
  color: #ff895d;
}
.title p{
  color: #1b435d;
  text-align: left;
  font-size: 32px;
}
.search {

    border: 8px solid #d2f7d6; /* Параметры рамки */
    min-height: 50px; /* Минимальная высота */
    padding: 8px;
    font-size: 14px;
   }
   input[type="search"] {
     font-size:20px;
     width: 95%;
    border: none; /* Убираем рамку */
    outline: none; /* Убираем свечение в Chrome и Safari */
    -webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
    color: #000;
    vertical-align: middle; /* Выравнивание по середине */
   }
   input[type="text"],input[type="email"], input[type="password"], input[type="text"],textarea[type="text"]{
     font-size:18px;
   }
.isearch{

  color:#1b435d;
  float:right;
  vertical-align:
}
.icon{
    width: 150px;
}

.color{
  color: #1b435d;
  font-size: 20px;
  font-weight: 900;
}
.color_white{
  color: #fff;
  font-size: 23px;
  font-weight: 900;
  margin-bottom: 7%;
}
.color_white2{
  color: #5fa69d;
  font-size: 20px;
  font-weight: normal;
}
.color_white2 a{
  color: #d2f7d6;

}
.login {
  background-color: #d2f7d6;
  border-radius: 7px;
  padding: 25px;
  padding-top: 10px;
}
.font{
  color: #1b435d;
  font-size:20px;
  line-height: 1.5;
  font-weight: 500;
}
.font2{
  color: #199384;
}

.font a{
    color: #1b435d;
}
.check{
  float: right;
}
/*CHECKBOX сужой компьютер*/
.checkbox{
  float: left;
  padding-left: 0px;
}
label{
  font-weight: normal;
}
.checkbox1 input[type="checkbox"] {
    display: none;
}

.checkbox1 label {
  width: 85%;
    position: relative;
    display: inline-block;

    /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
    padding-left: 12px;
}


.checkbox1 label::before,
.checkbox1 label::after {
    position: absolute;
    content: "";

    /*Needed for the line-height to take effect*/
    display: inline-block;
}

/*Outer box of the fake checkbox*/
.checkbox1 label::before{
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid;
    left:270px;

    /*(24px line-height - 16px height of fake checkbox) / 2 - 1px for the border
     *to vertically center it.
     */
    top: 3px;
}

/*Checkmark of the fake checkbox*/
.checkbox1 label::after {
    height: 7px;
    width: 13px;
    border-left: 2px solid;
    border-bottom: 2px solid;

    transform: rotate(-45deg);

    left: 274px;
    top: 7px;
}

/*Hide the checkmark by default*/
.checkbox1 input[type="checkbox"] + label::after {
    content: none;
}

/*Unhide on the checked state*/
.checkbox1 input[type="checkbox"]:checked + label::after {
    content: "";
}

/*Adding focus styles on the outer-box of the fake checkbox*/
.checkbox1 input[type="checkbox"]:focus + label::before {
    outline: rgb(59, 153, 252) auto 5px;
}
/***************END**************/
/*.checkbox input[type=checkbox] {display: none;}

.checkbox label::before input[type=checkbox]{
  content: "\2713";
  color: transparent;
  display: inline-block;
  border: 1px solid #086972;
  border-radius: 4px;
  font-size: 20px;
  line-height: 22px;
  margin: -5px 5px 0 0;
  height: 20px;
  width: 20px;
  text-align: center;
  vertical-align: middle;
  transition: color ease .3s;
}

.checkbox input[type=checkbox] + .checkbox label:before {
    content: "\2713";
    color: transparent;
    display: inline-block;
    border: 1px solid #086972;
    border-radius: 4px;
    font-size: 20px;
    line-height: 22px;
    margin: -5px 5px 0 0;
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    transition: color ease .3s;
}

.checkbox input[type=checkbox]:checked + .checkbox label:before {
    color: black;
}*/
.up{
  margin-top: -5px !important;
}
.green_block {
   padding: 0;
   height: 180px;
   background-color:#d2f7d6;
   margin-bottom: 2%;
}
.margin{
  margin-right: 50px;
  margin-left: 50px;
}



.bigfont{

  color: #1b435d;
  font-size:30px;
  line-height: 1.5;
  font-weight: bold;
}
.blisspro{
  font-family: 'BlissPro';
}
.btn{
  border-radius: 8px;

  width:100%;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 14px;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
}

.btn:hover, .btn:focus {
    color: #fff;
    text-decoration: none;
}
.btn:hover{
  -webkit-transform: scale(1.03);
}
.bigbtn:hover{
  color:#1b435d;
}
.down {
  margin-bottom: 25px;
}
.bigdown{
  margin-bottom: 50px;
}
.center{
  text-align: center;
}
.service{
  padding: 0 80px;
}
.fa-5x{
  font-size: 8em !important;
}
.form-control{
  border: 2px solid #c3c3c3;
}
.popular{
  background-color: #d2f7d6;
  border-radius: 25px;
  padding:25px 100px;
}
/*  TABS
----------------------*/

.tab-content {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #FFF;

    padding: 3rem;
}

@media (max-width:992px) {
    .tab-content {
        padding: 1.5rem;
    }
}

.tab-content p {
    line-height: 1.8;
}

.tab-content h2 {
    margin-bottom: 0.5rem;
}

.nav-tabs {
    border-bottom: 0;
}

.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:hover, .nav-tabs.nav-justified>.active>a:focus {
    border: 3px solid #bcd7be;
}
.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:hover, .nav-tabs.nav-justified>.active>a:focus {
    border-bottom-color: #fff;
}
.nav-tabs.nav-justified>li>a {
    border-bottom: 3px solid #bcd7be;
    border-radius: 4px 4px 0 0;
}

.nav-tabs .nav-item .nav-link,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    padding: 1rem 1rem;
    color: #1b435d;

}

/*
.nav-tabs .nav-link.active {
    background: #FFF;
    border-top-width: 3px;
    border-color: #d2f7d6 #d2f7d6 #FFF #d2f7d6;
    color: #633991;
}
*/

.input_padd{
  padding: 0 70px;
}
.reg{
  width: 45%;
  margin-top: 5%;
}
footer{
  color: #fff;
  background-color: #086972;
  padding: 1% 15%;
}
.footer {

    left: 0; bottom: 0;
    color: #1b435d;
    width: 100%;
   }
   .social_icons {
       padding-top: 20px;
       padding-bottom: 70px;
       float: right;
   }
   .social_icons ul {
       margin: 0;
       padding: 0;
       text-align: center;
   }
   .social_icons ul li {
       list-style: none;
       display: inline;
       padding-left: 30px;
       padding-right: 20px;
   }
   .social_icons ul li a {
       text-decoration: none;
       display: inline-block;
       text-align: center;
       /*border: 1px solid #9d9d9d;*/
       border-radius: 3px;

       line-height: 49px;
       color: #086972;
        /*background-color: #fff;*/
       -webkit-transition: all 1s;
       -moz-transition: all 1s;
       -o-transition: all 1s;
       transition: all 1s;
   }
    .social_icons ul li a img{
      width: 45px;
      height: 45px;
    }
/*SERVICE*/
.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #086972;
    color: white;
}

.pagination a:hover:not(.active)
 {
   background-color: #d2f7d6;
 }

.one, .two, .three {
    height: 100%;
    padding: 20px;
}

.one{

}
.square{
  background-color: #199384;

  height: -webkit-fill-available;
}
.two{
  padding-left: 50px;

}
.three{
  background-color: #086972;

  text-align: center;
}
.call{
  border-radius:0px;

  color: #1b435d;
  background-color: #fff;
  font-weight: 600;
}

/*END SERVICE*/
.green{
  background-color: #d2f7d6;
  color: #1b435d;
  font-weight: 500;
  border-radius: 5px;
  padding: 20px 30px;

}
.form-control option{
  color: #1b435d;
}
@media (max-width:1500px) {
    .margin{
      margin-right: 40px;
      margin-left: 40px;
    }

@media (max-width:1360px) {
    .margin{
      margin-right: 30px;
      margin-left: 30px;
    }
}
@media (max-width:1300px) {
    .margin{
      margin-right: 20px;
      margin-left: 20px;
    }
}
@media (max-width:1200px) {
    .margin{
      margin-right: 10px;
      margin-left: 10px;
    }
}
